body {
    background-image: url("PLAIN-GREY-BG.jpg");
    height: 100%;
    margin: 0;
}
html {
    height: 100%;

}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    transform: translateX(-70px);
}
.line1 {
    font-size: 45px;
    text-shadow: 1px 1px 2px white;
    color: white;
}
.line2 {
    font-size: 18px;
    text-shadow: 1px 1px 2px white;
    color: white;
}
.contact-btn { 
    margin-top:10px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    color: white;
    text-shadow: 1px 1px 2px white;
    border: 1px solid white;
    border-radius: 10px;
}
.slide-down {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
.to-next {
    font-size: 30px;
}
.contact2-btn {
    padding: 12px 24px;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 47px;
    color: white
}

.projects {
    font-family: Arial, sans-serif;
    font-size: 35px;
    margin-top: 20px;
}
.contact-text {
    display: flex;
    flex-direction: column;
    color: white;       
}

.personal {
    height:110px;
    border-radius: 50%;
}

.header {
    margin-bottom: 20px;
}

.github-logo {
    width: 70px;
    border-radius: 50%;
    margin-left:55px;
}

.contact-img {
    margin-top: 20px;
}

.linkedin-logo {
    height: 70px;
    border-radius: 50%;
    float:right;
    margin-right: 55px;
}


.card {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 16px;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(90, 90, 90);
    color: white;
}

.title {
    text-align: center;
    font-size: 40px;
}
.item {
    text-align: center;
}
.edu-institute {
    font-size: 28px;
}

.edu-degree {
    font-size: 18px;
    opacity: 0.8;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 6px;
}
.dtu-logo {
    height: 90px;
    object-fit: cover;
    transform: translateY(-10px);
}


.skill-category {
    margin-bottom: 30px;
    text-align: center;
}

.skill-heading {
    font-size: 28px;
    margin-bottom: 15px;
}


.skill-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.skill-icon {
    width: 70px; 
} 
.github-logo1 {
    border-radius: 50%;
}
 .btn {
    margin-bottom : 10px;
 }



